* {
    box-sizing: border-box;
    font-family: monospace, monospace;
    /* background-color: #b9d4fa; */
}

body {
    margin: 0px;
    padding: 0px;
    background-color: inherit;
}

/* header */
.navbar{
    width: 100%;
    height: 50px;
    background-color: #e9f1fd;
    position: sticky;
}

/* left part of the header */
#navbar-left{
    width: 20%;
    height: 100%;
    float: left;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: inherit;
}

/* right part of the header */
#navbar-right{
    width: 20%;
    height: 100%;
    float: right;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: inherit;
}

/* each element of the header */
.navbar-element{
    width: fit-content;
    text-align: center;
    background-color: inherit;

}

.navbar-element a{
    background-color: inherit;
}

.dropdown-content {
    display: none; /* content of the dropdown is invisible by defalut */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content{
    display: block; /* make the dropdown visible when hovered */
} 

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.edit-symbol{
    text-decoration: none;
}

.add-button{
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 0px;
    color: white;
    background-color: #0d6efd;
    border: none;
    border-radius: 50%;

    position: fixed;
    bottom: 15%;
    right: 15%;

    transition: all 0.3s ease-in-out;
}

.add-button:hover{
    color: rgb(172, 172, 172);
    width: 60px;
    height: 60px;

    rotate: 45deg; 
}

.trash-button{
    border: none;
    background: none;
}